@import "tailwindcss";

*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #003147;
  color: #E9E9E9;
}

menu {
  background: #E9E9E9;
}
menuicon {
  color: #6F6F6F;
}

/* button {
  background: #E9E9E9;
} */